[submodule "lib/log.c"]
	path = lib/log.c
	url = https://github.com/rxi/log.c
[submodule "lib/uthash"]
	path = lib/uthash
	url = https://github.com/troydhanson/uthash
[submodule "lib/msgpack-c"]
	path = lib/msgpack-c
	url = https://github.com/msgpack/msgpack-c
